# IMAGE_TAG=latest
# DEBUG=1
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
# PUID=1000
# PGID=1000
# WEB_HOST=0.0.0.0
# WEB_PORT=8000
# APP_PATH=
# LANGUAGE_CODE=de-de
# TZ=Europe/Berlin
# SQLITE_PATH=/data/db.sqlite3
# AI_ASSISTANT_ENABLED=false
# AI_ASSISTANT_PROVIDER=disabled
# AI_ASSISTANT_MODEL=
# AI_ASSISTANT_BASE_URL=
# AI_ASSISTANT_TIMEOUT_SECONDS=10
# EMAIL_HOST=localhost
# EMAIL_PORT=25
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=0
# DEFAULT_FROM_EMAIL=webmaster@localhost
