{% load xgewerbesteuer_filters %}
{% load i18n %}

<div class="table-wrapper mt-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% trans "Information" %}</th>
        <th scope="col">{% trans "Wert" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in summary_items %}
        <tr>
          <th scope="row">{{ item.label }}{% term_help item.label %}</th>
          <td><strong>{{ item.value|default_display }}</strong></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
