{% load static %}
<!doctype html>
<html lang="de" data-kern-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>{% block title %}Meine Anwendung{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/@kern-ux/native/dist/kern.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/@kern-ux/native/dist/fonts/fira-sans.css" rel="stylesheet"/>
    {% block extra_head %}{% endblock %}
</head>
<body>
<main style="padding: 2rem">{% block content %}{% endblock %}</main>
</body>
</html>
